html {
  font-size: 80%;
}
.main-tables-container {
  overflow-x: hidden;
}
.product-cards--container {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}
.plans-container--slider {
  justify-content: center;
  overflow-x: hidden;
}
